version: "3.8"

services:
  sql:
    image: mysql:latest
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: studentapp
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./BE
    container_name: tomcat-backend
    ports:
      - "8081:8080"
    depends_on:
      sql:
        condition: service_healthy
    environment:
      DB_HOST: sql
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: 1234
      DB_NAME: studentapp

  frontend:
    build:
      context: ./FE
    container_name: apache-frontend
    ports:
      - "80:80"

volumes:
  mysql_data:
