services:
  mysql:
    image: mysql:8.0.33
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root123
      MYSQL_DATABASE: studentdb
      MYSQL_USER: user
      MYSQL_PASSWORD: pass123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  tomcat-backend:
    image: tomcat:10.1-jdk17
    container_name: tomcat-backend
    ports:
      - "8081:8080"
    depends_on:
      mysql:
        condition: service_healthy

  apache-frontend:
    image: httpd:2.4
    container_name: apache-frontend
    ports:
      - "80:80"
    depends_on:
      - tomcat-backend

volumes:
  mysql_data:
